;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.47.0"]]

  :nrepl
 {:port 3333}

 :builds
 {:app
  {:target :node-script
   :output-to "dist/main.js"
   :main analytics.core/main
   :compiler-options {:infer-externs :auto}
   }}}

